@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fonts.css);

/* .book-heading .point로 이동 */
:root {
  --point1: #abd375;
  --point2: #e8ca58;
  --point3: #c7b39a;
  --point4: #eea60a;
  --point5: #6aaee6;
}

*,
*::before,
*::after {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  box-sizing: border-box;
}

/* Reset CSS */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

fieldset {
  padding: 0;
  border: 0 none;
}

legend,
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0)
}

a {
  text-decoration: none;
  color: inherit;
}

/* grid module */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* responsive content */
.responsive {
  max-width: 100%;
  height: auto;
}

/* All device */
.news {
  background: goldenrod;
}

.board {
  background: teal;
}

.favorite {
  background: hotpink;
}

.twitter {
  background: aqua;
}

.footer {
  background: orange;
}

/* all search */
.search {
  text-align: right;
}

[type="search"] {
  border: 1px solid #aaa;
  border-radius: 0.35em;
  height: 2em;
  margin-right: 0.5em;
}

/* all main */
.sprite {
  background: url(./images/sprite_main.png) no-repeat;
  /* extension - emmet: evaluate math expression 사용하면 자동으로 계산 */
  /* 기본사이즈 16px, 이미지크기 50px -> 16/50 ~= 2.6(em) */
  height: 60px;
  padding-left: 65px;
}

/* 'heading'이 포함되어 있는 class 선택 */
.main [class*="heading"] {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  /* column -> 주축 y축에서 가운데 정렬하려면 justify-content 사용 */
  justify-content: center;
}

.news-heading {
  background-position: 0 -230px;
}

.board-heading {
  background-position: 0 -115px;
}

.favorite-heading {
  background-position: 0 -345px;
}

.twitter-heading {
  background-position: 0 -460px;
}

/* 상단 :root로 이동 */
.book-heading .point {
  color: var(--point1);
}

.news-heading .point {
  color: var(--point2);
}

.board-heading .point {
  color: var(--point3);
}

.favorite-heading .point {
  color: var(--point4);
}

.twitter-heading .point {
  color: var(--point5);
}

/* recommend book */
.book-cover {
  text-align: center;
}

.book-detail {
  /* flex-row를 html에 클래스 추가해도 됨 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-author-name {
  margin-left: 0.5em;
}

.book-grade {
  margin: 0;
  width: 100%;
  /* justigy-content만으로 가운데정렬 충족시킬 수 없음 <- width:100% 줬기 때문에
  text-align: center 적용 */
  text-align: center;
  font-size: 1.5em;
  color: var(--point1);
}

/* "summary"로 끝나는 class 선택 */
[class$="summary"] {
  line-height: 2;
}

/* Mobile device */
@media screen and (max-width: 62.5em) {

  /* mobile grid */
  .col-m1 {
    width: 20%;
  }

  .col-m2 {
    width: 45%;
  }

  .col-m3 {
    width: 70%;
  }

  .col-m4 {
    width: 100%;
  }

  /* mobile header */
  .header {
    background: #32302e;
    padding-bottom: 1em;
  }

  .logo,
  .member,
  .search {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* mobile member */
  .member {
    order: -1;
    /* html에서 flex-row 추가하지 않고 직접 css */
    display: flex;
    justify-content: flex-end;
    background: #988574;
    color: #fff;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .member a {
    padding: 0.35em 0;
    /* a -> display: inline이기 때문에 항상 시작할 때 display 설정하기 */
    display: block;
    margin-left: 1em;
  }

  /* mobile search */
  [type="search"] {
    width: calc(100% - 3em);
  }

  .btn-search {
    border: 0 none;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
    background: transparent;
  }

  .btn-search::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/btn_search.png) no-repeat;
    /* backgroun-size: cover -> 가로를 다 보여주기, contain -> 세로까지 다 보여주기 */
    background-size: cover;
  }

  /* mobile menu */
  .btn-menubar {
    width: 2.5em;
    height: 2.5em;
    /* border: 0 none 둘 중 하나만 써도 ok */
    border: 0 none;
    padding: 0;
    position: absolute;
    top: 5em;
    right: 20px;
    /* transform 속성으로 menu-middle에 변화를 준 부분 숨기기 */
    overflow: hidden;
    background: transparent;
    cursor: pointer;
  }

  .menubar {
    background: #fff;
    width: 100%;
    height: 25%;
    border-radius: 1em;
    position: absolute;
    left: 0;
    transition: all 200ms;
  }

  .menubar-top {
    top: 0;
  }

  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }

  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }

  .nav-act .menubar-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .nav-act .menubar-middle {
    transform: translate(-100%, -50%);
  }

  .nav-act .menubar-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 200ms;
  }

  .nav-act .menu {
    transform: none;
    width: 75vw;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    margin: 0;
    padding: 2em;
  }

  .menu-list {
    margin: 0.5em 0;
  }

  .menu-item {
    display: block;
    padding: 0.5em;
  }

  .sub-menu {
    display: none;
    list-style: circle;
    padding-left: 2em;
    margin-bottom: 1em;
  }

  .sub-menu li {
    margin: 0.5em 0;
  }

  .sub-menu a {
    padding: 0.5em 0;
    display: block;
  }

  .menu-act .sub-menu {
    display: block;
  }
}

/* Desktop device */
@media screen and (min-width: 62.5em) {

  /* Desktop grid */
  .col-d3 {
    width: calc(65px * 3 + 20px * 2);
  }

  .col-d4 {
    width: calc(65px * 4 + 20px * 3);
  }

  .col-d5 {
    width: calc(65px * 5 + 20px * 4);
  }

  .col-d8 {
    width: calc(65px * 8 + 20px * 7);
  }

  .container {
    /* flex 가운데정렬 */
    align-items: center;
  }

  .header,
  .menu,
  .main {
    width: 1000px;
  }

  .navigation,
  .footer {
    width: 100%;
  }

  /* desktop header */
  .header {
    display: block;
    position: relative;
    padding-bottom: 1.5em;
  }

  /* desktop logo */
  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }

  /* desktop member */
  .member {
    display: flex;
    justify-content: flex-end;
  }

  .bar::before {
    /* 장식용 | -> 스크린리더에서 읽어주지 않도록 해야 함 (aria-hidden="true") */
    content: "|";
    margin: 0 0.5em;
  }

  .member a {
    display: inline-block;
    padding: 0.5em 0;
  }

  /* desktop search */
  [type="search"] {
    width: 40%;
  }

  .btn-search {
    border: 1px solid #aaa;
    border-radius: 0.5em;
    background: #988674;
    color: #fff;
    height: 2em;
    padding: 0 1em;
  }

  /* desktop main */
  .navigation {
    background: #988574;
    color: #fff;
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
    /* blur 효과 -> box-shadow 3번째 값 2px */
    box-shadow: 0 -1px 2px 0 #aaa, 0 1px 2px 0 #aaa;
  }

  .btn-menubar {
    display: none;
  }

  .menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .menu-item {
    font-weight: 700;
    font-size: 1.15em;
    padding: 0.35em 0;
    display: block;
    margin-bottom: 0.5em;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }

  .sub-menu li {
    margin: 0.5em 0;
  }

  .sub-menu a {
    display: block;
    padding: 0.35em 0;
  }

  .main {
    justify-content: space-between;
  }
}