@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fonts.css);

*,
*::before,
*::after {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  box-sizing: border-box;
}

/* Reset CSS */
ul, ol, li {
  list-style: none;
  padding-left: 0;
}

fieldset {
  padding: 0;
  border: 0 none;
}

legend,
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0)
}

a {
  text-decoration: none;
  color: inherit;
}

/* grid module */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* All device */
.container {
  background: silver;
}

.header {
  background: yellow;
}

.navigation {
  background: pink;
}

.main {
  background: skyblue;
}

.book {
  background: lime;
}

.news {
  background: goldenrod;
}

.board {
  background: teal;
}

.favorite {
  background: hotpink;
}

.twitter {
  background: aqua;
}

.footer {
  background: orange;
}

/* Mobile device */
@media screen and (max-width: 62.5em) {
  /* mobile grid */
  .col-m1 {
    width: 20%;
  }

  .col-m2 {
    width: 45%;
  }

  .col-m3 {
    width: 70%;
  }

  .col-m4 {
    width: 100%;
  }

  /* mobile header */
  .header {
    background: #32302e;
    padding-bottom: 1em;
  }

  .logo, .member, .search {
    width: 100%;
    padding-left: 20px;
  }
 
  /* mobile member */
  .member {
    order: -1;
    /* html에서 flex-row 추가하지 않고 직접 css */
    display: flex;
    justify-content: flex-end;
    background: #988574;
    color: #fff;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .member a {
    padding: 0.35em 0;
    /* a -> display: inline이기 때문에 항상 시작할 때 display 설정하기 */
    display: block;
    margin-left: 1em;
  }

  /* mobile search */
  .search {
    text-align: right;
  }

  [type="search"] {
    border: 1px solid #aaa;
    border-radius: 0.35em;
    height: 2em;
    width: calc(100% - 3em);
    margin-right: 0.5em;
  }

  .btn-search {
    border: 0 none;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
    background: transparent;
  }

  .btn-search::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/btn_search.png) no-repeat;
    /* backgroun-size: cover -> 가로를 다 보여주기, contain -> 세로까지 다 보여주기 */
    background-size: cover;
  }

  /* mobile menu */
  .btn-menubar {
    width: 2.5em;
    height: 2.5em;
    /* border: 0 none 둘 중 하나만 써도 ok */
    border: 0 none;
    padding: 0;
    position: absolute;
    top: 5em;
    right: 20px;
    background: blue;
    /* transform 속성으로 menu-middle에 변화를 준 부분 숨기기 */
    overflow: hidden;
  }

  .menubar {
    background: #fff;
    width: 100%;
    height: 25%;
    border-radius: 1em;
    position: absolute;
    left: 0;
    transition: all 200ms;
  }

  .menubar-top {
    top: 0;
  }

  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }

  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }

  .nav-act .menubar-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .nav-act .menubar-middle {
    transform: translate(-100%, -50%);
  }

  .nav-act .menubar-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

/* Desktop device */
@media screen and (min-width: 62.5em) {
  /* Desktop grid */
  .col-d3 {
    width: calc(65px * 3 + 20px * 2);
  }

  .col-d4 {
    width: calc(65px * 4 + 20px * 3);
  }
  
  .col-d5 {
    width: calc(65px * 5 + 20px * 4);
  }

  .col-d8 {
    width: calc(65px * 8 + 20px * 7);
  }

  .container {
    /* flex 가운데정렬 */
    align-items: center;
  }

  .header,
  .main {
    width: 1000px;
  }

  .navigation,
  .footer {
    width: 100%;
  }

  .main {
    justify-content: space-between;
  }
}